<section id="<?=$this->pagina->alias?>" class="paginas">
	<? for($i=1; $i<=3; $i++){ ?>
	<div id="pagina-<?=$i?>" class="pagina">
		<h2 class="pagina-titulo"><?=$this->translate('pag6_titulo'.$i)?></h2>
		<img src="<?=URL.'/public/images/paginas/'.$this->pagina->fotos->{'foto'.$i.'_'.$this->lang}?>" class="pagina-img" alt="<?=$this->translate('pag6_titulo'.$i)?>">
		<div class="pagina-body"><?=$this->translateDb($this->pagina,'body'.($i>1?$i:''))?></div>
	</div>
	<? } // for i ?>
</section>