<?/*<p class="page-quote-text">
    <?=$this->translateDb($this->pagina,'texto1')?>
</p>*/?>

<?/*<section id="banners">
    <? foreach($this->pagina->fotos as $foto){ if(!$foto->lang || $foto->lang==$this->lang){ ?>
    <a href="<?=((bool)trim($foto->param) ? $foto->param : '#')?>">
        <img src="<?=URL.'/img/home|'.$foto->path.'?w=480&h=270'?>" alt="" />
    </a>
    <? }} ?>
</section>*/?>

<section id="videos">
    <? $foto = (bool)trim($this->translateDb($this->pagina,'foto1')) ? 
               '/img/home|'.$this->translateDb($this->pagina,'foto1') :
               '/img/ref|cultura_foto2.jpg'; ?>
    <? $video = ((bool)trim($this->translateDb($this->pagina,'video')) ? $this->translateDb($this->pagina,'video') : '#'); ?>
    <? if($video != '#') $video = str_replace(array('//vimeo.com/','//www.vimeo.com/'),'//player.vimeo.com/video/',$video); ?>
    <?/*<a href="<?=$video?>" style="background-image:url('<?=URL.$foto.'?w=480&h=270'?>')">
        <!-- <span class="title"><?=$this->translate('home_video_titulo')?></span> -->
        <span class="title"><?=$this->translateDb($this->pagina,'video_titulo')?></span>
        <span class="assistir"><?=$this->translate('home_video_assista')?></span>
    </a>*/?>
    <iframe src="<?=$video?>" frameborder="0"></iframe>
</section>

<section id="banners">
    <? foreach($this->pagina->fotos as $foto){ if(!$foto->lang || $foto->lang==$this->lang){ ?>
    <a href="<?=((bool)trim($foto->param) ? $foto->param : '#')?>">
        <?/*<img src="<?=URL.'/img/home|'.$foto->path.'?w=480&h=270'?>" alt="" />*/?>
        <img src="<?=URL.'/public/images/home/'.$foto->path?>" alt="" />
    </a>
    <? }} ?>
</section>

<section id="projetos" class="wrapper-loc">
    <!-- <span class="icone"></span> -->

    <a class="texto" href="<?=URL?>/projetos">
        <span class="title"><?=$this->translate('ultimos_projetos_titulo')?></span>

        <?=$this->translate('ultimos_projetos_texto')?>

        <span class="ver"><?=$this->translate('ver_todos')?></span>
    </a>

    <? foreach($this->projetos as $row){ ?>
    <?/*<a href="<?=URL.'/projeto/'.$row->alias?>" class="projeto" style="background-image:url('<?=URL.'/img/projetos|'.$row->thumbnail.'?w=205&h=195'?>')">*/?>
    <a href="<?=URL.'/projeto/'.$row->alias?>" class="projeto" style="background-image:url('<?=URL.'/img/projetos|'.$row->thumbnail.'?w=180&h=180'?>')">
        <span class="title">
            <?=$this->translateDb($row,'titulo')?>

            <span class="cliente">
                <?=$row->cliente?>
            </span>
        </span>
    </a>
    <? } ?>
</section>
