<section id="texto-1" class="texto">
    <?/*<img src="<?=URL.'/img/paginas|'.$this->translateDb($this->pagina->fotos,'foto1').'?w=485&h=565'?>" alt="" class="img1" />*/?>
    <?/*<img src="<?=URL.'/img/paginas|'.$this->translateDb($this->pagina->fotos,'foto2').'?w=485&h=210'?>" alt="" class="img2" />*/?>
    <img src="<?=URL.'/img/paginas|'.$this->translateDb($this->pagina->fotos,'foto1').'?w=465&h=565'?>" alt="" class="img1" />
    <img src="<?=URL.'/img/paginas|'.$this->translateDb($this->pagina->fotos,'foto2').'?w=465&h=210'?>" alt="" class="img2" />

    <?=$this->translateDb($this->pagina,'body')?>
</section>

<section id="texto-2" class="texto">
    <?/*<img src="<?=URL.'/img/paginas|'.$this->translateDb($this->pagina->fotos,'foto3').'?w=485&h=350'?>" alt="" class="img3" />*/?>
    <img src="<?=URL.'/img/paginas|'.$this->translateDb($this->pagina->fotos,'foto3').'?w=465&h=350'?>" alt="" class="img3" />

    <?=$this->translateDb($this->pagina,'body2')?>
</section>