<? if($this->pagina){ ?>
<a id="link-return" href="<?=URL.'/admin/paginas/edit/'.$this->pagina->alias?>/">
    &laquo; Voltar para <?=$this->pagina->{'titulo_'.$this->lang}?>
</a>
<? } ?>

<?=Js::script('allow_photos = '.($this->allow_photos ? 'false' : 'false').';')?>
<? if($this->id && $this->allow_photos){ $this->fotos_in_text = false; ?>
<div class="content-right">
    <div id="fotos">
        <?=$this->render($this->section.'/fotos.phtml');?>
    </div>
    <?/*<div id="arquivos">
        <?=$this->render($this->section.'/arquivos.phtml');?>
    </div>
    <div id="tags">
        <?=$this->render($this->section.'/tags.phtml');?>
    </div>*/?>
</div>
<? } ?>

<div class="tabs tabs-lang">
    <!-- tabs -->
    <ul class="tabs-navigation">
        <li><a href="#pt" rel="" class="selected">Português</a></li>
        <li><a href="#en" rel="">Inglês</a></li>
    </ul>
</div>

<div id="form-new">
    <form action="<?=$this->form->getAction();?>" method="<?=$this->form->getMethod();?>" id="<?=$this->form->getId();?>" class="<?=$this->form->getId();?>">
        <ul>
            <? /*if($this->id){ ?>
            <li class="txt">
                <label for="">Link do texto</label>
                <a class="txt link-noticia" href="<?=URL.'/etapa/'.$this->form->alias->getValue()?>/" target="_blank">
                    <?=URL.'/etapa/'.$this->form->alias->getValue()?>/
                </a>
            </li>
            <? }*/ ?>
            <? foreach($this->form->getElements() as $elm){ ?>
            <li class="<?=$elm->getAttrib("class")?>" id="li-<?=$elm->getId()?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>

                <? if($this->pagina_id==7 && in_array($elm->getId(), array('body_pt','body_en'))){ ?>
                <span class="tip-body">* Um item por linha</span>
                <? } ?>
                
                <?=$elm->render()?>
            </li>
            <? } ?>
        </ul>
        <div class="bt-container">
            <input type="submit" class="bt" value="<?=$this->id?'Salvar':'Criar'?>" id="submit" />
        </div>
    </form>
</div>