<?=Css::loadLess(CSS_PATH."/admin/ativos.less");?>
<?=Js::load(JS_PATH."/admin/ativos.js");?>
<?=Js::load(JS_PATH."/jquery.tmpl.min.js");?>

<script type="text/javascript">
var DIR = "<?=$this->section?>";
var URL = "<?=URL?>";
</script>

<h3>ATIVOS</h3>

<ul class="linha-list">
    <li class="title">
        <span class="linha-title">Nome do ativo</span>
        <span class="linha-title linha-title-2">Valor</span>
        <span class="linha-title linha-title-3">Variação</span>
    </li>
    <? if($this->ativos){ foreach($this->ativos as $ativo){ ?>
    <li>
        <a href="#" class="linha-action linha-action-del">Excluir</a>
        <!--<a href="#" class="linha-action linha-action-save">Salvar</a>-->
        <input type="text" class="txt linha-descricao" name="linha-descricao[]" value="<?=$ativo->descricao?>" />
        <input type="text" class="txt linha-valor" name="linha-valor[]" value="<?=$ativo->valor?>" />
        <input type="text" class="txt linha-variacao" name="linha-variacao[]" value="<?=$ativo->variacao?>" />
        <input type="hidden" class="linha-id" name="linha-id[]" value="<?=$ativo->id?>" />
        <input type="hidden" class="linha-descricao-original" name="linha-descricao-original[]" value="<?=$ativo->descricao?>" />
        <input type="hidden" class="linha-valor-original" name="linha-valor-original[]" value="<?=$ativo->valor?>" />
        <input type="hidden" class="linha-variacao-original" name="linha-variacao-original[]" value="<?=$ativo->variacao?>" />
    </li>
    <? }} ?>
</ul>

<!-- jQuery template -->
<script type="text/x-jquery-tmpl" id="tmplLinha">
    <li>
        <a href="#" class="linha-action linha-action-del">Excluir</a>
        <input type="text" class="txt linha-descricao"  value="${descricao}" />
        <input type="text" class="txt linha-valor" value="${valor}" />
        <input type="text" class="txt linha-variacao"  value="${variacao}" />
        <input type="hidden" class="linha-id" value="${id}" />
        <input type="hidden" class="linha-descricao-original" name="linha-descricao-original[]" value="${descricao}" />
        <input type="hidden" class="linha-valor-original" name="linha-valor-original[]" value="${valor}" />
        <input type="hidden" class="linha-variacao-original" name="linha-variacao-original[]" value="${variacao}" />
    </li>
</script>
<!-- /jQuery template -->

<div class="linha-tools">
    <a href="#" class="linha-add">+ Adicionar ativo</a>
    <div class="linha-status"><ul></ul></div>
</div>