<div id="categorias" class="form-list">
    <form action="<?=$this->url?>save/" class="frm-categorias" method="post">
        <ul class="row-list">
            <li class="title">
                <span class="row-title">Título (pt)</span>
                <span class="row-title row-title-0">Título (en)</span>
                <!-- <span class="row-title row-title-1">Período</span> -->
                <span class="row-title row-title-2" title="Clique nas setas ou segure e arraste para ordenar">Ordem</span>
                <span class="row-title row-title-3">Ativo</span>
            </li>
            <? if($this->categorias){ foreach($this->categorias as $row){ ?>
            <li>
                <a href="#" class="row-action row-action-del">Excluir</a>
                <input type="text" class="txt row-descricao_pt" name="descricao_pt[]" value="<?=utf8_encode($row->descricao_pt)?>" />
                <input type="text" class="txt row-descricao_en" name="descricao_en[]" value="<?=utf8_encode($row->descricao_en)?>" />
                <?/*<input type="text" class="txt row-texto" name="texto[]" value="<?=utf8_encode($row->texto)?>" />*/?>
                <?/*<input type="text" class="txt row-periodo" name="periodo[]" value="<?=utf8_encode($row->periodo)?>" />*/?>
                <a href="#" class="row-order order-up" title="Clique nas setas ou segure e arraste para ordenar"></a>
                <a href="#" class="row-order order-down" title="Clique nas setas ou segure e arraste para ordenar"></a>
                <input type="checkbox" class="txt row-status_id" name="status_id_check[]" <? if($row->status_id==1){ ?>checked="checked"<? } ?> />
                <input type="hidden" name="status_id[]" value="<?=$row->status_id?>" />
                <input type="hidden" class="row-id" name="id[]" value="<?=$row->id?>" />
                <input type="hidden" class="txt row-ordem" name="ordem[]" value="<?=$row->ordem?>" />
            </li>
            <? }} ?>
        </ul>
        
        <!-- jQuery template -->
        <script type="text/x-jquery-tmpl" id="tmplRow">
            <li>
                <a href="#" class="row-action row-action-del">Excluir</a>
                <input type="text" class="txt row-descricao_pt" name="descricao_pt[]" value="" />
                <input type="text" class="txt row-descricao_en" name="descricao_en[]" value="" />
                <!--<input type="text" class="txt row-texto" name="texto[]" value="" />-->
                <!--<input type="text" class="txt row-periodo" name="periodo[]" value="" />-->
                <a href="#" class="row-order order-up"></a>
                <a href="#" class="row-order order-down"></a>
                <input type="checkbox" class="txt row-status_id" name="status_id_check[]" checked="checked" />
                <input type="hidden" name="status_id[]" value="1" />
                <input type="hidden" class="row-id" name="id[]" value="0" />
                <input type="hidden" class="txt row-ordem" name="ordem[]" value="" />
            </li>
        </script>
        <!-- /jQuery template -->
        
        <div class="row-tools">
            <a href="#" class="row-add">+ Adicionar</a>
            <div class="row-status"><ul></ul></div>
        </div>
        
        <div class="bt-container">
            <input type="submit" class="bt" value="Salvar" id="submit" />
        </div>
    </form>
</div>