<?
$js_path  = SCRIPT_MIN == 'load' ? JS_PATH.'/'  : '';
$css_path = SCRIPT_MIN == 'load' ? CSS_PATH.'/' : '';
$script_min = SCRIPT_MIN;
$js  = array($js_path.'libs.js',$js_path.'layout.js');
$css = array($css_path.'global.less');

if(!$this->meta_description) $this->meta_description = $this->translate('site_description');
if(!$this->meta_keywords) $this->meta_keywords = $this->translate('site_keywords');
/*if(!$this->meta_keywords) $this->meta_keywords = Is_Str::text2keywords(
    $this->meta_description,', ',10,
    '' // palavras para excluir de keywords
)*/;

$page_title = '';
if(isset($this->titulo)){
    $page_title.= $this->titulo." - ";
    $page_title.= $this->translate('site_title');
} else { 
    $page_title.= $this->controller != 'index'?ucfirst(Is_Str::subsCaracteres($this->controller," "))." - ":''; 
    $page_title.= $this->translate('site_title');
}
?>

<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="<?=$this->meta_description?>" />
<meta name="keywords" content="<?=$this->meta_keywords?>" />
<title><?=$page_title?></title>

<meta property="og:url" content="<?=$this->meta_og_url?$this->meta_og_url:URL?>"/>
<meta property="og:title" content="<?=$this->meta_og_title?$this->meta_og_title:$page_title?>"/>
<meta property="og:description" content="<?=$this->meta_og_description?$this->meta_og_description:$this->meta_description?>"/>
<meta property="og:image" content="<?=$this->meta_og_image?$this->meta_og_image:URL.CSS_PATH.'/img/logotipo-share.png'?>"/>
<link rel="image_src" href="<?=$this->meta_og_image?$this->meta_og_image:URL.CSS_PATH.'/img/logotipo-share.png'?>" />

<script type="text/javascript">
var GLOBAL_URL = "<?=$this->url?>",
    URL        = "<?=URL?>",
    SITE_NAME  = "<?=SITE_NAME?>",
    ROOT_PATH  = "<?=ROOT_PATH?>",
    JS_PATH    = "<?=JS_PATH?>",
    CSS_PATH   = "<?=CSS_PATH?>",
    IMG_PATH   = "<?=IMG_PATH?>",
    DIR        = "<?=$this->section?>",
    CONTROLLER = "<?=$this->controller?>",
    ACTION     = "<?=$this->action?>",
    SCRIPT     = <?=Js::exists($js_path.$this->controller) ? "\"{$this->controller}\"" : 'false'?>,
    LANG       = "<?=$this->lang?>",
    LANGS      = <?=json_encode(explode(',',SITE_LANGUAGES))?>,
    LANGS_DESC = <?=json_encode(explode(',',SITE_LANGUAGES_DESC))?>,
    TRANSLATE  = <?=json_encode(Is_Array::toObject($this->translate_object->getMessages()))?>,
    APPLICATION_ENV = "<?=APPLICATION_ENV?>";
</script>
<?=Css::$script_min($css).PHP_EOL?>
<!--[if lt IE 9]>
<?=Css::$script_min($css_path.'global-ie.less').PHP_EOL?>
<![endif]-->
</head>
<body class="body-<?=$this->controller?> body-<?=$this->controller.'-'.$this->action?>">

<?=$this->render("flash-messages.phtml");?>
<div id="fb-root"></div>

<div class="main main-<?=$this->controller?> main-<?=$this->controller.'-'.$this->action?> <?=$this->lang?>">
    <header id="top">
        <a class="site-title" href="<?=URL?>/" title="<?=$this->translate('site_title')?>"><?=$this->translate('site_title')?></a>
        <?/*<a class="impressao3d" href="<?=URL?>/impressao-3d" data-preload-img="<?=CSS_PATH.'/img/impressao3d-hover.png'?>">
            impressão 3d
            <span class="saibamais">saiba mais &raquo;</span>
        </a>*/?>
        
        <nav id="menu-main">
            <?=$this->navigation()->menu($this->menu->top);?>
        </nav>

        <? if(APPLICATION_ENV!='development1'){ ?>
        <nav id="menu-lang">
            <? $langs = array('pt'=>'Português','en'=>'English'); ?>
            <? foreach(explode(',',SITE_LANGUAGES) as $lang){ if($lang!=$this->lang){ ?>
            <a href="?lang=<?=$lang?>" class="lang <?=$lang?>" title="<?=$langs[$lang]?>">
                <?=$langs[$lang]?>
            </a>
            <? }} ?>
        </nav>
        <? } ?>
    </header>
    
    <article id="content" class="content-<?=$this->controller?> content-<?=$this->controller.'-'.$this->action?>">
        <p class="page-quote-text">
            <?=$this->translateDb($this->pagina_home,'texto1')?>
        </p>
        
        <div class="content-main-wrapper">
            <?=$this->layout()->content;?>
        </div>
    </article>
    
    <!-- <br clear="all" /> -->
</div>

<div class="footer  footer-<?=$this->controller?> footer-<?=$this->controller.'-'.$this->action?>">
    <footer>
        <section id="footer-menu" class="footer-column">
            <span class="title">Menu</span>
            
            <nav>
                <?=$this->navigation()->menu($this->menu->top);?>
            </nav>
        </section>

        <section id="footer-blog" class="footer-column">
            <span class="title">Blog</span>
            
            <ul>
                <? foreach($this->blog_last_posts as $row){ ?>
                <li>
                    <span class="data">
                        <? $d = new Zend_Date($row->data_cad); ?>
                        <span class="dia"><?=$d->toString("dd")?></span>
                        <span class="mes"><?=$d->toString("MMM")?></span>
                    </span>
                    
                    <a href="<?=URL.'/blog/'.$row->alias?>">
                        <?=$this->translateDb($row,'titulo')?>
                    </a>
                </li>
                <? } ?>
            </ul>
        </section>

        <section id="footer-contato" class="footer-column">
            <div class="share">
                <?=$this->partial('social-facebook-like.phtml',array('url'=>(APPLICATION_ENV=='development'?'http://www.studio-olea.com.br':URL)))?>
                <a href="<?=$this->dados_empresa->facebook?>" class="share-icon facebook" target="_blank" title="<?=$this->translate('siganos_facebook')?>"><?=$this->translate('siganos_facebook')?></a>
                <a href="<?=$this->dados_empresa->linkedin?>" class="share-icon linkedin" target="_blank" title="<?=$this->translate('siganos_linkedin')?>"><?=$this->translate('siganos_linkedin')?></a>
                <a href="<?=$this->dados_empresa->twitter?>" class="share-icon twitter" target="_blank" title="<?=$this->translate('siganos_twitter')?>"><?=$this->translate('siganos_twitter')?></a>
                <a href="<?=$this->dados_empresa->instagram?>" class="share-icon instagram" target="_blank" title="<?=$this->translate('siganos_instagram')?>"><?=$this->translate('siganos_instagram')?></a>
            </div>
            <span class="title"><?=$this->translate('contato')?></span>
            
            <span class="tel"><?=$this->dados_empresa->tel1?></span>

            <?=htmlspecialchars($this->translateDb($this->dados_empresa,'endereco'))?> <br>
            <?=htmlspecialchars($this->translateDb($this->dados_empresa,'bairro'))?> 
            <?=($this->lang!='pt')?'<br>Zip Code: ':'&bull;'?>
            <?=Is_Format::cep($this->dados_empresa->cep)?> &bull; 
            <?=$this->dados_empresa->cidade?>/<?=$this->dados_empresa->estado?>
            <?=($this->lang!='pt')?'/Brazil':''?>

            <a href="mailto:<?=$this->dados_empresa->email?>" class="mail"><?=$this->dados_empresa->email?></a>
        </section>

        <section id="footer-credits">
            <span class="trupe">
                <a href="http://www.trupe.net" target="_blank"><?=$this->translate('trupe1')?>:</a>
                <a href="http://www.trupe.net" target="_blank"><?=$this->translate('trupe2')?></a>
            </span>

            &copy; <?=date('Y')?> studio OLEA &bull; <?=$this->translate('copyright')?>
        </section>
    </footer>
</div>

<?=Js::$script_min($js).PHP_EOL?>
<!--[if lt IE 9]>
<?=Js::$script_min($js_path.'html5.js').PHP_EOL?>
<![endif]-->

<? if(APPLICATION_ENV=='production'){ ?>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-42078648-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<? } ?>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=170195076377385";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>