body{background:#fff;font-family:Arial}

/* Layout */
.main{width:980px;margin:auto;}
.main .top{
    width:980px;
    height:100px;
    margin-top:6px;
    position: relative;
}
.main .top .hello{
    position:absolute;
    bottom:15px;
    right:105px;
    color:#fff;
    font-size:12px;
}
.main .title{
    text-align:center;
    color:#fff;
    font-size:12px;
    font-weight:bold;
    line-height: 40px;
}

.main .content{
    background:#B5DCE3;
}

.foot{
    clear:both;
    background:url(img/bg-rodape.jpg) repeat-x;
    width:100%;
    color:#6A6A6A;
    font-size:12px;
    text-align:center;
    line-height:45px;
}

/* Cadastro / Login / Forms */
.form{
    text-align: center;
    width: 410px;
    margin:auto;
    padding:70px 0 90px 0;
}

.form .info{
    color: #1B617F;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom:20px;
}

.form .info.h{
    font-size: 20px;
}

.form .info.p{
    font-size:12px;
}

.form form{
    /*margin-top: 20px;*/
}

.form .txt{
    width:290px;
    margin-bottom:4px;
}

.form .bt{
    width:296px;
    margin-top:15px;
}

.form .links-login{
    display: block;
    margin: auto;
    padding-top: 15px;
    width: 290px;
    text-align:right;
}

.form .links-login a{
    text-decoration:none;
    font-size: 13px;
}

.form .links-login a:hover{
    text-decoration:underline;
}

.form .message{
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    -khtml-border-radius:3px;
    background: none repeat scroll 0 0 #FEEFB4;
    border: 1px solid #986200;
    color: #986200;
    font-size: 12px;
    padding: 10px;
    margin-bottom:20px;
}

/* Gerais */
input.txt,select.txt{
    border:1px solid #D4E1E4;
    padding:3px;
    color: #000;
}

input.pre{
    color: #1B617F;
}

input.bt{
    color:#fff;
    background:#0081C3;
    border:none;
    padding:10px 3px;
    font-weight:bold;
    cursor: pointer;
}