<section id="<?=$this->pagina->alias?>" class="paginas">
	<div id="pagina-<?=$this->pagina->id?>" class="pagina">
		<h2 class="pagina-titulo"><?=$this->translateDb($this->pagina,'titulo')?></h2>
		<div class="pagina-body"><?=$this->translateDb($this->pagina,'body')?></div>
	</div>
</section>

<? if((bool)$this->etapas){ ?>
<section class="wrapper-loc" id="etapas2">
	<!-- <span class="icone"></span> -->

	<? foreach($this->etapas as $row){ ?>
	<? /*$foto = 'comofazemos_etapa'.($i+1).'.png';*/ ?>
	<div id="etapa-<?=$row->ordem?>" class="etapa" <?/*style="background-image:url('<?=IMG_PATH.'/ref/'.$foto?>')"*/?>>
		<h2>
			<span class="etapa-title">
				<span class="n"><?=($row->ordem)?></span> 
				<span class="title"><?=$this->translateDb($row,'titulo')?></span>
				<span class="bico1"></span>
				<span class="bico2"></span>
			</span> 
		</h2>

		<div class="etapa-text">
			<?//='<ul><li>'.str_replace(array("\n","\r\n"),'</li><li>',$this->translateDb($row,'body')).'</li></ul>'?>
			<? $body = str_replace(array("\n","\r\n"),'[NL]',$this->translateDb($row,'body')); ?>
			<? $steps = explode('[NL]', $body); ?>
			<ul>
				<? $i=0; foreach($steps as $step){ $i++; ?>
				<?   if(strstr($step,' __ ')){ $step = str_replace(' __ ', ' __<br> ', $step); }
				else if(strstr($step,' of ')){ $step = str_replace(' of ', ' of<br> ', $step); }
				else if(strstr($step,' do ')){ $step = str_replace(' do ', ' do<br> ', $step); }
				else if(strstr($step,' de ')){ $step = str_replace(' de ', ' <br>de ', $step); }
				else if(strstr($step,' + ')) { $step = str_replace(' + ', ' <br>+ ', $step); }
				else if(strstr($step,' e ')) { $step = str_replace(' e ', ' <br>e ', $step); }
				else if(strstr($step,': '))  { $step = str_replace(': ', ':<br>', $step); }
				else if(strstr($step,' and ')) { $step = str_replace(' and ', ' <br>and ', $step); }
				else if(strstr($step,' para ')) { $step = str_replace(' para ', '<br>para ', $step); }
				else if(strstr($step,' Modelo')) { $step = $step; }
				else if(strstr($step,' modelo')) { $step = $step; }
				else if(strstr($step,' Model')) { $step = $step; }
				else if(strstr($step,' model')) { $step = $step; }
				else if(strstr($step,' 3D')) { $step = $step; }
				else if(strstr($step,' 3d')) { $step = $step; }
				else if(strstr($step,'3D ')) { $step = $step; }
				else if(strstr($step,'3d ')) { $step = $step; }
				else if(count(explode(' ', $step))>2) { $step = brMiddle($step); }
				else { $step = str_replace(' ', '<br>', $step); } ?>
				<li class="step-<?=$i?>">
					<?=$step?>
				</li>
				<? } ?>
			</ul>
		</div>
	</div>
	<? } ?>
</section>
<? } ?>