<? if((bool)$this->rows){ ?>
<? /*for($i=0;$i<9;$i++){*/ ?>
<? $i=0; foreach($this->rows as $row){ $i++; ?>
<? /*$foto = (bool)$row->capa ? $row->capa->path : @$row->fotos[0]->path;*/ ?>
<? $foto = (bool)$row->thumbnail ? 'projetos|'.$row->thumbnail : 'not-found.jpg'; ?>
<? $last = ($i%3==0) ? 'last' : ''; ?>
<a href="<?=URL.'/projeto/'.$row->alias?>" class="projeto <?=$last?>" style="background-image:url('<?=URL.'/img/'.$foto?>?w=326&h=326')">
    <span class="title">
        <span class="texto"><?=$this->translateDb($row,'titulo')?></span>

        <span class="cliente">
            <span class="bd"></span>
            <?=$row->cliente?>
        </span>
    </span>
</a>
<? } ?>
<? } else { ?>
<p class="page-quote-text">
    <?=$this->translate('projeto_empty')?>
</p>
<? } ?>

<br clear="all">