<? if(APPLICATION_ENV!='development'){ ?>
<iframe width="100%" height="300" frameborder="0" style="" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Av.+Queiroz+Filho,+1700,+S%C3%A3o+Paulo,+Brazil&amp;aq=t&amp;sll=-14.408749,-54.042208&amp;sspn=50.414836,55.107422&amp;ie=UTF8&amp;hq=&amp;hnear=Av.+Queir%C3%B3s+Filho,+1700+-+Vila+Leopoldina,+S%C3%A3o+Paulo,+05319-000,+Brazil&amp;t=m&amp;z=14&amp;ll=-23.54356,-46.732709&amp;output=embed"></iframe>
<? } ?>

<section id="contato">
    <div id="forms-contato" class="tabs">
        <!-- tabs --> 
        <ul class="tabs-navigation">
            <li>
                <a href="#form-contato">
                    <span class="icone"></span>
                    <?=$this->translate('contato_tab1')?>
                </a>
            </li> 
            <li>
                <a href="#form-trabalhe">
                    <span class="icone"></span>
                    <?=$this->translate('contato_tab2')?>
                </a>
            </li> 
        </ul> 
        
        <!-- tab containers -->
        <div id="form-contato" class="tabs-container">
            <?=$this->render('contato/form-contato.phtml')?>
        </div>

        <div id="form-trabalhe" class="tabs-container">
            <?=$this->render('contato/form-trabalhe.phtml')?>
        </div>
    </div>

    <span class="tel"><?=$this->dados_empresa->tel1?></span>

    <?=$this->translateDb($this->dados_empresa,'endereco')?> <br>
    <?=$this->translateDb($this->dados_empresa,'bairro')?> 
    <?=($this->lang!='pt')?'<br>Zip Code: ':'&bull;'?>
    <?=Is_Format::cep($this->dados_empresa->cep)?> &bull; 
    <?=$this->dados_empresa->cidade?>/<?=$this->dados_empresa->estado?>
    <?=($this->lang!='pt')?'/Brazil':''?>

    <a href="mailto:<?=$this->dados_empresa->email?>" class="mail"><?=$this->dados_empresa->email?></a>

    <a href="<?=$this->dados_empresa->facebook?>" class="share facebook" target="_blank">
        <span><?=$this->translate('contato_curta_fb')?></span>
    </a>
</section>
