<?=Css::loadLess(CSS_PATH."/admin/paginas-fotos.less");?>
<?/*=Js::load(JS_PATH."/admin/paginas-fotos.js");*/?>

<script type="text/javascript">
var DIR = "<?=$this->section?>";
var URL = "<?=URL?>";
</script>

<? if($this->alias=='relacionamento'){ ?>
<h3>BANNER</h3>
<? } ?>

<ul id="paginas_fotos" class="list_fotos">
    <? if(count($this->fotos)){ foreach($this->fotos as $foto){ ?>
    <li>
        <a href='<?=URL?>/img/<?=$this->section?>:<?=$foto->path?>' rel='gallery_group'>
            <img src='<?=URL?>/img/<?=$this->section?>:<?=$foto->path?>?w=90&h=90'>
        </a>
        <button title="Delete" class="ui-state-default ui-corner-all file-delete">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <input type="hidden" name="foto_id[]" value="<?=$foto->foto_id?>" class="foto_id" />
    </li>
    <? }} ?>
</ul>

<div id="file_upload_container">
    <form id="file_upload" action="<?=$this->url?>upload.json?id=<?=$this->id?>" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" multiple />
        <button>Enviar imagens</button>
        <div>Enviar imagens</div>
        <input type="hidden" name="pagina_id" id="pagina_id" value="<?=$this->id?>" />
    </form>
    
    <table id="file_upload_list" cellspacing="0" width="100%"></table>
</div>