<aside id="lateral-dir">
	<nav id="outros-projetos">
		<span class="title"><?=$this->translate('projeto_outros_titulo')?></span>

		<ul>
			<? foreach($this->outros_projetos as $row){ ?>
			<? $active = $this->alias == $row->alias; ?>
			<li>
				<a href="<?=URL.'/projeto/'.$row->alias?>" class="<?=$active ? 'active' : ''?>">
					<?=$this->translateDb($row,'titulo')?>
				</a>
			</li>
			<? } ?>
		</ul>
	</nav>
</aside>

<section class="projeto">
	<h1 class="projeto-titulo"><?=$this->translateDb($this->row,'titulo')?></h1>
	
	<? if($this->row->capa){ ?>
	<img src="<?=URL.'/img/projetos|'.$this->row->capa->path.'?w=700&h=1000'?>" alt="" class="projeto-capa" data-descricao="<?=trim($this->row->capa->descricao)?>" />
	<? } ?>
	
	<section class="projeto-dados">
		<div class="projeto-descricao">
			<span class="title"><?=$this->translate('projeto_descricao')?></span>
	
			<?=$this->translateDb($this->row,'descricao')?>
		</div>
	
		<span class="title"><?=$this->translate('projeto_cliente')?></span>
		<?=$this->row->cliente?>
	
		<span class="title ano"><?=$this->translate('projeto_ano')?></span>
		<?=$this->row->ano?>
	</section>
	
	<? foreach($this->row->fotos as $foto){ ?>
	<? if(!$this->row->capa || $foto->id != @$this->row->capa->id){ ?>
	<figure>
		<? if($video = _checkVideoStr($foto->descricao)){
			echo _iframeVideo($video->url,700,525);
			$foto_descricao = $video->text;
		} else { $foto_descricao = $this->translateDb($foto,'descricao'); ?>
		<img src="<?=URL.'/img/projetos|'.$foto->path.'?w=700&h=1000'?>" alt="" class="projeto-img" data-descricao="<?=trim($foto_descricao)?>" />
		<? } // video ?>
	
		<? if((bool)trim($foto_descricao)){ ?>
		<figcaption>
			<span class="projeto-img-caption">
				<?=$foto_descricao?>
			</span>
		</figcaption>
		<? } ?>
	</figure>
	<? } // capa ?>
	<? } // foreach ?>
	
	<a href="#top" class="scroll-to">
		<?=$this->translate('voltar_topo')?>
	</a>
</section>
