<?=$this->render('blog/lateral.phtml')?>

<section id="blog-posts">
	<? if($this->noticia){ ?>

	<?=$this->partial('blog/post.phtml',array('post'=>$this->noticia,'isPost'=>true,'lang'=>$this->lang))?>

	<? if(count($this->posts_relacionados)){ ?>
	<span id="posts-relacionados-title"><?=$this->translate('blog_posts_relacionados')?></span>
	
	<ul id="posts-relacionados">
		<? foreach($this->posts_relacionados as $row){ ?>
		<li>
			<a href="<?=URL.'/blog/'.$row->alias?>">
				<span class="post-date"><?=Is_Date::am2br($row->data_cad)?> -</span>
				<?=$this->translateDb($row,'titulo')?>
			</a>
		</li>
		<? } ?>
	</ul>
	<? } ?>
	
	<? } else { ?>
	
	<? if(count($this->noticias)){ ?>
	<? foreach($this->noticias as $noticia){ ?>
	<?=$this->partial('blog/post.phtml',array('post'=>$noticia,'lang'=>$this->lang))?>
	<? } ?>

	<div class="pagination"><?=$this->paginacao->render()?></div>
	
	<? } else { ?>
	<?=$this->translate('blog_post_empty')?>
	<? } ?>

	<? } ?>
</section>
