<aside id="lateral-esq">
	<nav id="categorias">
		<span class="title"><?=$this->translate('categorias')?></span>
		<? $pages = $this->menu_blog->categorias->getPages(); ?>

		<ul>
			<? foreach($pages as $page){ ?>
			<? $active = $this->alias == $page->alias; ?>
			<li>
				<a href="<?=$page->uri?>" class="<?=$active ? 'active' : ''?> <?=$page->class?>">
					<?=$page->label?>
					<span class="post-count">
						(<?=$page->count?>)
					</span>
				</a>
			</li>
			<? } ?>
		</ul>
	</nav>

	<nav id="arquivos">
		<span class="title"><?=$this->translate('blog_arquivo')?></span>

		<span class="arquivo-container">
			<?=$this->formSelect('arquivo',$this->arquivo_ano,array(),$this->arquivo_anos)?>
			<?/*<select name="arquivo" id="change-arquivo">
				<option value="2013">2013</option>
				<option value="2012">2012</option>
				<option value="2011">2011</option>
			</select>*/?>
		</span>

		<ul>
			<? foreach($this->arquivo as $row){ ?>
			<? $dt = Is_Date::am2br($row->data_cad); ?>
            <? $dts = explode('/',$dt); ?>
            <? $titulo = ($this->lang=='en') ? Is_Date::getMonthNameEn($dts[1]) : Is_Date::getMonthName($dts[1]);//.' '.$dts[2]; ?>
            <? $arq = $dts[2].'-'.$dts[1]; ?>
			<? $active = @$this->arquivo_selected == $arq; ?>
			<li>
				<a href="<?=URL.'/blog/arquivo/'.$arq?>" class="<?=$active ? 'active' : ''?> arquivo-<?=$dts[2]?> <?=$dts[2]!=$this->arquivo_ano?'hidden':''?>">
					<?=$titulo?>
					<span class="post-count">
						(<?=$row->cnt?>)
					</span>
				</a>
			</li>
			<? } ?>
		</ul>
	</nav>
</aside>