<div class="blog-post <?=$this->isPost ? 'blog-full-post' : ''?>">
	<div class="blog-post-title">
		<h2>
			<a href="<?=URL.'/blog/'.($this->post->alias)?>">
				<?=$this->translateDb($this->post,'titulo')?>
			</a>
		</h2>

		<img src="<?=URL.'/img/blogs-posts|'.@$this->post->fotos[0]->path.'?w=105&h=105'?>" alt="" />

		<span class="blog-post-date">
			<? $d = new Zend_Date($this->post->data_cad); ?>
			<span class="dia"><?=$d->toString("dd")?></span>
			<span class="mes"><?=$d->toString("MMM")?></span>
		</span>

		<span class="blog-post-info">
			<a href="<?=URL.'/blog/categoria/'.(@$this->post->categoria->alias)?>" class="blog-post-categoria">
				<?=@$this->translateDb($this->post->categoria,'descricao')?>
			</a>

			<span class="blog-post-comments">
				<?=(int)@$this->post->comentarios_count?> <?=$this->translate('blog_comentarios')?>
			</span>
		</span>
	</div>

	<? if(!$this->isPost){ ?>

	<div class="blog-post-description">
		<?=Is_Str::crop(Php_Html::toText($this->translateDb($this->post,'body'),false,true),2000)?>
	</div>

	<a href="<?=URL.'/blog/'.($this->post->alias)?>" class="blog-post-continue">
		<?=$this->translate('continue_lendo')?>
	</a>

	<? } else { ?>

	<?/*<img src="<?=URL.'/img/ref|blog_capa-exemplo.jpg?w=700&h=1000'?>" alt="" class="blog-post-capa" />*/?>

	<div class="blog-post-description">
		<? Lib::import('phpQuery');
	    $html = phpQuery::newDocumentHTML(stripslashes($this->translateDb($this->post,'body')));

		$imgs = $html->find('img'); // redimensionando as imagens
		foreach($imgs as $img){
			pq($img)->attr('data-src',pq($img)->attr('src'));
			pq($img)->attr('src',pq($img)->attr('src').'?w=700&h=1000');
			pq($img)->addClass('blog-post-capa');
		}
		
		$ps = $html->find('p'); // retirando estilos extras dos parágrafos
		foreach($ps as $p) pq($p)->attr('class','')->attr('align','')->attr('style','');
		
		// replace audio bbcode
		$p = '\[audio\](.*)\[\/audio]';
		$r = '<iframe width="410" height="136" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?auto_play=false&show_artwork=false&url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F\\1"></iframe>';
		$html2 = ereg_replace($p,$r,$html->html());

		// replace video bbcode
		$p = '\[video\](.*)\[\/video]';
		$r = '<iframe width="410" height="300" scrolling="no" frameborder="no" src="http://www.youtube.com/embed/\\1"></iframe>';
		$html2 = ereg_replace($p,$r,$html2);

		// replace link bbcode
		$p = '\<a(.*)\<\/a\>';
		$r = '<a target="_blank" rel="nofollow" \\1</a>';
		$html2 = ereg_replace($p,$r,$html2);

		echo $html2; ?>

		<? foreach($this->post->fotos as $foto){ ?>
		<figure class="blog-post-figure">
			<img src="<?=URL.'/img/blogs-posts|'.$foto->path.'?w=700&h=1000'?>" alt="" class="blog-post-img" />

			<? if((bool)$foto->descricao){ ?>
			<figcaption>
				<span class="blog-post-img-caption">
					<?=$foto->descricao?>
				</span>
			</figcaption>
			<? } ?>
		</figure>
		<? } ?>
	</div>

	<? $url_share = (APPLICATION_ENV=='development'?'http://www.studio-olea.com.br':URL).'/blog/'.$this->post->alias; ?>
	<div id="post-share">
		<?=$this->partial('social-facebook-like.phtml',array('url'=>$url_share))?>
		<?=$this->partial('social-twitter-share.phtml',array('url'=>$url_share,'text'=>$this->translateDb($this->post,'titulo')))?>
		<?=$this->partial('social-gplus-share.phtml',array('url'=>$url_share,'size'=>'medium'))?>
	</div>
	
	<div id="post-comentarios">
		<?//=$this->partial('social-facebook-comments.phtml',array('url'=>$url_share,'width'=>700))?>
		<?=$this->partial('social-facebook-comments.phtml',array('url'=>$url_share,'width'=>680))?>
	</div>

	<? } ?>
</div>